#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: solid 0.1px grey; */
}

.header {
  display: flex;
  margin: 0 auto;
  gap: 15px;
}

.box {
  width: 100px;
  height: 100px;
  /* border: solid 0.1px grey; */
  border-radius: 5px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

count = point

